 <body>
 
 <!--***************** footer  start ******************-->
 <footer>
  <div class="footerSec">
      <div class="footerTop">
          <div class="container">
              <div class="socialIcons">
                  <span><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
                  <span><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
                  <span><a href=""><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></span>
                  <span><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                  <span><a href=""><i class="fa fa-whatsapp" aria-hidden="true"></i></a></span>
              </div>
              <div class="footerMenu">
                    <ul>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">ABOUT Us</a></li>
                        <li><a href="">CAREER</a></li>
                        <li><a href="">TERM OF USE</a></li>
                        <li><a href="">PRIVACY POLICY</a></li>
                        <li><a href="">REWARD POINTS</a></li>
                        <li><a href="">GIFTCARD</a></li>
                    </ul>
              </div>
              <div class="getInSection">
                  <div class="appSection">
                      <!-- <h3>&nbsp;</h3> -->
                      <div class="appSectionDiv">
                          <div class="footerTitle">DOWNLOAD APPS</div>
                          <span><img src="../assets/image/icon5.png" alt=""><a href="">IOS</a></span>
                          <span><a href="">ANDROID</a></span>
                      </div>
                  </div>
                  <div class="newsSection">
                      <h3>STAY IN TOUCH</h3>
                      <div class="newsContent">
                          <div class="footerRadio">
                              <span class="radioSelection">
                                  <input type="radio" name="radio" value="GSTOCK" id="radio1">
                                  <label for="radio1">GSTOCK</label>
                              </span>
                              <span class="radioSelection">
                                  <input type="radio" name="radio" value="GLUX" id="radio2">
                                  <label for="radio2">GLUX</label>
                              </span>
                          </div>
                      </div>
                      <div class="newsContentInput"><input type="text" name="" placeholder="Sign up for news" class="inputField inputBorder"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footerBottom">
          <div class="container">
              <h4>CONCIERGE@GSTOCK.SG WHATSAPP: <a href="">+65 6570 8226</a></h4>
               <p>Copyright 2018 Ding He Pte. Ltd. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>
<!--***************** footer  end ******************-->




</body>