$dv-gs-theme-color-100:#5ca963;
$dv-gs-theme-color-90:#6CB273;
$dv-gs-theme-color-80:#7DBA82;
$dv-gs-theme-color-70:#8DC392;
$dv-gs-theme-color-60:#9DCBA1;
$dv-gs-theme-color-50:#aed4b1;
$dv-gs-theme-color-40:#BEDDC1;
$dv-gs-theme-color-30:#CEE5D0;
$dv-gs-theme-color-20:#deeee0;
$dv-gs-theme-color-10:#EFF6EF;
$dv-gs-theme-color-5:#EFF6EF;
$dv-gs-theme-color-0:#ffffff;
$dv-gs-theme-word-color:#333333;
