$dv-gs-font-size-32:32px;
$dv-gs-font-size-24:24px;
$dv-gs-font-size-lg:22px; // Header, Function button
$dv-gs-font-size-16:16px; // Subheader, Search
$dv-gs-font-size-md:16px; // Subheader, Search
$dv-gs-font-size-sm:13px; // Information
$dv-gs-font-size-8:8px;
